{% extends 'layout.html' %} {% block title%}
<title>ERP SYSTEM - 庫存管理</title>
<style>
  .searchBar {
    display: block;
    width: 300px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
</style>
{% endblock %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">庫存管理</h1>
  <!-- DataTales Example -->
  <div class="card shadow mt-3 mb-4">
    <div
      class="card-header py-3 d-flex flex-row bd-highligh justify-content-end"
    >
      <input
        class="searchBar"
        id="myInput"
        type="text"
        placeholder="Search..."
      />
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>產品編號</th>
              <th>產品名稱</th>
              <th>產品描述</th>
              <th>類別</th>
              <th>庫存數量</th>
            </tr>
          </thead>
          <tbody>
            {% for inventory in inventories %}
            <tr>
              <td>{{inventory.產品編號}}</td>
              <td>{{inventory.產品名稱}}</td>
              <td>{{inventory.產品描述}}</td>
              <td>{{inventory.類別}}</td>
              <td>{{inventory.庫存量}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Page Heading -->
</div>
<!-- /.container-fluid -->
{% endblock %}
