<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% block title %}{% endblock %}

    <!-- Custom fonts for this template-->
    {% load static %}
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this page -->
    <link
      href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{% static 'css/sb-admin-2.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-sidebar sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-globe-asia brand-icon-color"></i>
          </div>
          <div class="sidebar-brand-text brand-text-color mx-3">ERP SYSTEM</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - 產品管理 -->
        <li class="nav-item">
          <a class="nav-link" href="/products">
            <i class="fas fa-industry"></i>
            <span class="nav-item-font-color">產品管理</span></a
          >
        </li>

        <!-- Nav Item - 進貨模組 Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseBuy"
            aria-expanded="true"
            aria-controls="collapseBuy"
          >
            <i class="fas fa-shopping-basket"></i>
            <span class="nav-item-font-color">進貨模組</span>
          </a>
          <div
            id="collapseBuy"
            class="collapse"
            aria-labelledby="headingBuy"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/purchaseOrders">採購資料管理</a>
              <a class="collapse-item" href="/suppliers">供應商資料管理</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - 銷貨模組 Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseSell"
            aria-expanded="true"
            aria-controls="collapseSell"
          >
            <i class="fas fa-receipt"></i>
            <span class="nav-item-font-color">&nbsp;銷貨模組</span>
          </a>
          <div
            id="collapseSell"
            class="collapse"
            aria-labelledby="headingSell"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/orders">銷售資料管理</a>
              <a class="collapse-item" href="/customers">客戶資料管理</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - 庫存管理 Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseStock"
            aria-expanded="true"
            aria-controls="collapseStock"
          >
            <i class="fas fa-warehouse"></i>
            <span class="nav-item-font-color">&nbsp;庫存模組</span>
          </a>
          <div
            id="collapseStock"
            class="collapse"
            aria-labelledby="headingStock"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/inventories">庫存管理</a>
              <a class="collapse-item" href="/entry">入庫作業</a>
              <a class="collapse-item" href="/delivery">出庫作業</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - 報表功能 Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/inventoryReport"
            data-toggle="collapse"
            data-target="#collapsePrint"
            aria-expanded="true"
            aria-controls="collapsePrint"
          >
            <i class="fas fa-fw fa-table"></i>
            <span class="nav-item-font-color">報表功能</span>
          </a>
          <div
            id="collapsePrint"
            class="collapse"
            aria-labelledby="headingPrint"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/inventoryReport">庫存報表</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn sidebar-toggle-button d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>
          </nav>
          <!-- End of Topbar -->
          {% block content %}{% endblock %}
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Yufang's ERP 2024</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script
      lang="javascript"
      src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"
    ></script>

    <script src="{% static 'js/erp.js' %}"></script>

    <script>
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#inventoryDataTable tbody tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
        $("#inventoryReportDataTable tbody tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
        $("#dataTable tbody tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      });
      $("#sheetjsexport").click(function () {
        const table = document.getElementById("inventoryReportDataTable");
        const new_sheet = XLSX.utils.table_to_book(table);
        XLSX.writeFile(new_sheet, "庫存報表.xlsx");
      });
    </script>
  </body>
</html>
