{% extends 'layout.html' %} {% block title%}
<title>ERP SYSTEM - 產品資料管理</title>
<style>
  .iconColor {
    height: 20px;
    width: 20px;
    color: #7e7e7e;
    /* border: 1px solid #c4c4c4;
    border-radius: 10%; */
    padding-top: 1px;
    padding-left: 5px;
  }
  .searchBar {
    width: 300px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
</style>
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">產品資料管理</h1>
  <!-- DataTales Example -->
  <div class="card shadow mt-3 mb-4">
    <div class="card-header py-3 d-flex flex-row justify-content-between">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#createDataModal"
      >
        新增
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="createDataModal"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="createDataModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createDataModalLabel">
                新增產品資料
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/products/insert" method="post">
              <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                  <label class="col-form-label" for="IinputProductCode"
                    >產品編號</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="IproductCode"
                    id="IinputProductCode"
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputProductName"
                    >產品名稱</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="IproductName"
                    id="IinputProductName"
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputProductDescription"
                    >產品描述</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="IproductDescription"
                    id="IinputProductDescription"
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputCategory"
                    >類別</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="Icategory"
                    id="IinputCategory"
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputUnit">單位</label>
                  <input
                    type="text"
                    class="form-control"
                    name="Iunit"
                    id="IinputUnit"
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputSupplier"
                    >供應商名稱</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="Isupplier"
                    id="IinputSupplier"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  關閉
                </button>
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <input
        class="searchBar align-middle"
        id="myInput"
        type="text"
        placeholder="Search..."
      />
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>產品編號</th>
              <th>產品名稱</th>
              <th>產品描述</th>
              <th>類別</th>
              <th>單位</th>
              <th>供應商名稱</th>
              <th>動作</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td>{{product.產品編號}}</td>
              <td>{{product.產品名稱}}</td>
              <td>{{product.產品描述}}</td>
              <td>{{product.類別}}</td>
              <td>{{product.單位}}</td>
              <td>{{product.供應商.供應商名稱}}</td>
              <td>
                <button
                  type="button"
                  data-toggle="modal"
                  data-target="#modifyDataModal{{product.產品編號}}"
                  style="border: 0; background-color: #fff"
                >
                  <i class="fas fa-pen iconColor"></i>
                </button>
              </td>
            </tr>
            <!-- Modal -->
            <div
              class="modal fade"
              id="modifyDataModal{{product.產品編號}}"
              data-backdrop="static"
              data-keyboard="false"
              tabindex="-1"
              aria-labelledby="modifyDataModal{{product.產品編號}}Label"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="modifyDataModal{{product.產品編號}}Label"
                    >
                      修改產品資料
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/products/modify" method="post">
                    <div class="modal-body">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="col-form-label" for="MinputProductCode"
                          >產品編號</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="MproductCode"
                          id="MinputProductCode"
                          value="{{product.產品編號}}"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputProductName"
                          >產品名稱</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="MproductName"
                          id="MinputProductName"
                          value="{{product.產品名稱}}"
                        />
                      </div>
                      <div class="form-group">
                        <label
                          class="col-form-label"
                          for="MinputProductDescription"
                          >產品描述</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="MproductDescription"
                          id="MinputProductDescription"
                          value="{{product.產品描述}}"
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputCategory"
                          >類別</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="Mcategory"
                          id="MinputCategory"
                          value="{{product.類別}}"
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputUnit"
                          >單位</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="Munit"
                          id="MinputUnit"
                          value="{{product.單位}}"
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputSupplier"
                          >供應商名稱</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="Msupplier"
                          id="MinputSupplier"
                          value="{{product.供應商.供應商名稱}}"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        關閉
                      </button>
                      <button type="submit" class="btn btn-primary">
                        修改
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Page Heading -->
</div>
<!-- /.container-fluid -->
{% endblock %}
