{% extends 'layout.html' %} {% block title%}
<title>ERP SYSTEM - 採購資料管理</title>
<style>
  .iconColor {
    height: 20px;
    width: 20px;
    color: #7e7e7e;
    /* border: 1px solid #c4c4c4;
    border-radius: 10%; */
    padding-top: 1px;
  }
  .searchBar {
    width: 300px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
</style>
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">採購資料管理</h1>
  <!-- DataTales Example -->
  <div class="card shadow mt-3 mb-4">
    <div class="card-header py-3 d-flex flex-row justify-content-between">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#createDataModal"
      >
        新增
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="createDataModal"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="createDataModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createDataModalLabel">
                新增採購資料
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/purchaseOrders/insert" method="post">
              <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                  <label class="col-form-label" for="IinputPurchaseOrderCode"
                    >採購單號</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="IpurchaseOrderCode"
                    id="IinputPurchaseOrderCode"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputPurchaseDate"
                    >採購日期</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    name="IpurchaseDate"
                    id="IinputPurchaseDate"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputArriveDate"
                    >預計到貨日期</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    name="IarriveDate"
                    id="IinputArriveDate"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputSupplier"
                    >供應商名稱</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="Isupplier"
                    id="IinputSupplier"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputPurchaseProduct"
                    >產品編號</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="IpurchaseProduct"
                    id="IinputPurchaseProduct"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputPurchaseQuantity"
                    >數量</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="IpurchaseQuantity"
                    id="IinputPurchaseQuantity"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputUnitPrice"
                    >單價</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="IunitPrice"
                    id="IinputUnitPrice"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputAmount">金額</label>
                  <input
                    type="text"
                    class="form-control"
                    name="Iamount"
                    id="IinputAmount"
                    required
                  />
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputPayment"
                    >付款方式</label
                  >
                  <input
                    list="Ipayment"
                    class="form-control"
                    name="Ipayment"
                    id="IinputPayment"
                    required
                  />
                  <datalist id="Ipayment">
                    <option value="貨到付款"></option>
                    <option value="月結"></option>
                  </datalist>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="IinputNote">備註</label>
                  <input
                    type="text"
                    class="form-control"
                    name="Inote"
                    id="IinputNote"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  關閉
                </button>
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <input
        class="searchBar align-middle"
        id="myInput"
        type="text"
        placeholder="Search..."
      />
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>採購單號</th>
              <th>供應商名稱</th>
              <th>採購日期</th>
              <th>預計到貨日期</th>
              <th>付款方式</th>
              <th>備註</th>
              <th>狀態</th>
              <th>動作</th>
            </tr>
          </thead>
          <tbody>
            {% for purchaseOrder in purchaseOrders %}
            <tr>
              <td>{{purchaseOrder.採購單號}}</td>
              <td>{{purchaseOrder.供應商.供應商名稱}}</td>
              <td>{{purchaseOrder.採購日期|date:'Y-m-d'}}</td>
              <td>{{purchaseOrder.預計到貨日期|date:'Y-m-d'}}</td>
              <td>{{purchaseOrder.付款方式}}</td>
              <td>{{purchaseOrder.備註}}</td>
              <td>{{purchaseOrder.狀態}}</td>
              <td>
                <button
                  type="button"
                  data-toggle="modal"
                  data-target="#detailDataModal{{purchaseOrder.採購單號}}"
                  style="border: 0; background-color: #fff"
                >
                  <i class="fas fa-file iconColor"></i>
                </button>
                <button
                  type="button"
                  data-toggle="modal"
                  data-target="#modifyDataModal{{purchaseOrder.採購單號}}"
                  style="border: 0; background-color: #fff"
                >
                  <i class="fas fa-pen iconColor"></i>
                </button>
              </td>
            </tr>
            <!-- detailDataModal -->

            <div
              class="modal fade"
              id="detailDataModal{{purchaseOrder.採購單號}}"
              data-keyboard="false"
              tabindex="-1"
              aria-labelledby="detailDataModal{{purchaseOrder.採購單號}}Label"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="detailDataModal{{purchaseProduct.採購主檔}}Label"
                    >
                      採購資料明細
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label
                        class="col-form-label"
                        for="DinputPurchaseOrderCode"
                        >採購單號</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="DpurchaseOrderCode"
                        id="DinputPurchaseOrderCode"
                        value="{{purchaseOrder.採購單號}}"
                        readonly
                      />
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="DinputPurchaseProduct"
                        >產品編號</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="DpurchaseProduct"
                        id="DinputPurchaseProduct"
                        value="{{purchaseOrder.採購明細.產品.產品編號}}"
                        readonly
                      />
                    </div>
                    <div class="form-group">
                      <label
                        class="col-form-label"
                        for="DinputPurchaseProductQuantity"
                        >數量</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="DpurchaseProductQuantity"
                        id="DinputPurchaseProductQuantity"
                        value="{{purchaseOrder.採購明細.數量}}"
                        readonly
                      />
                    </div>
                    <div class="form-group">
                      <label
                        class="col-form-label"
                        for="DinputPurchaseProductUnitPrice"
                        >單價</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="DpurchaseProductUnitPrice"
                        id="DinputPurchaseProductUnitPrice"
                        value="{{purchaseOrder.採購明細.單價}}"
                        readonly
                      />
                    </div>
                    <div class="form-group">
                      <label
                        class="col-form-label"
                        for="DinputPurchaseProductTotalPrice"
                        >金額</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="DpurchaseProductTotalPrice"
                        id="DinputPurchaseProductTotalPrice"
                        value="{{purchaseOrder.採購明細.金額}}"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- modifyDataModal -->
            <div
              class="modal fade"
              id="modifyDataModal{{purchaseOrder.採購單號}}"
              data-backdrop="static"
              data-keyboard="false"
              tabindex="-1"
              aria-labelledby="modifyDataModal{{purchaseOrder.採購單號}}Label"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="modifyDataModal{{purchaseOrder.採購單號}}Label"
                    >
                      修改採購資料
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/purchaseOrders/modify" method="post">
                    <div class="modal-body">
                      {% csrf_token %}
                      <div class="form-group">
                        <label
                          class="col-form-label"
                          for="MinputPurchaseOrderCode"
                          >採購單號</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="MpurchaseOrderCode"
                          id="MinputPurchaseOrderCode"
                          value="{{purchaseOrder.採購單號}}"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputPurchaseDate"
                          >採購日期</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          name="MpurchaseDate"
                          id="MinputPurchaseDate"
                          value="{{purchaseOrder.採購日期|date:'Y-m-d'}}"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputArriveDate"
                          >預計到貨日期</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          name="MarriveDate"
                          id="MinputArriveDate"
                          value="{{purchaseOrder.預計到貨日期|date:'Y-m-d'}}"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputSupplier"
                          >供應商名稱</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="Msupplier"
                          id="MinputSupplier"
                          value="{{purchaseOrder.供應商.供應商名稱}}"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label
                          class="col-form-label"
                          for="MinputPurchaseProduct"
                          >產品編號</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="MpurchaseProduct"
                          id="MinputPurchaseProduct"
                          value="{{purchaseOrder.採購明細.產品.產品編號}}"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label
                          class="col-form-label"
                          for="MinputPurchaseQuantity"
                          >數量</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="MpurchaseQuantity"
                          id="MinputPurchaseQuantity"
                          value="{{purchaseOrder.採購明細.數量}}"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputUnitPrice"
                          >單價</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="MunitPrice"
                          id="MinputUnitPrice"
                          value="{{purchaseOrder.採購明細.單價}}"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputAmount"
                          >金額</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="Mamount"
                          id="MinputAmount"
                          value="{{purchaseOrder.採購明細.金額}}"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label class="col-form-label" for="MinputPayment"
                          >付款方式</label
                        >
                        <input
                          list="Mpayment"
                          class="form-control"
                          name="Mpayment"
                          id="MinputPayment"
                          value="{{purchaseOrder.付款方式}}"
                          required
                        />
                        <datalist id="Mpayment">
                          <option value="貨到付款"></option>
                          <option value="月結"></option>
                        </datalist>
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputStatus"
                          >狀態</label
                        >
                        <input
                          list="status"
                          class="form-control"
                          name="Mstatus"
                          id="MinputStatus"
                          value="{{purchaseOrder.狀態}}"
                          required
                        />
                        <datalist id="status">
                          <option value="進行中"></option>
                          <option value="待核准"></option>
                          <option value="已核准"></option>
                          <option value="已結案"></option>
                        </datalist>
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="MinputRemark"
                          >備註</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="Mremark"
                          id="MinputRemark"
                          value="{{purchaseOrder.備註}}"
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        關閉
                      </button>
                      <button type="submit" class="btn btn-primary">
                        修改
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Page Heading -->
</div>
<!-- /.container-fluid -->
{% endblock %}
